# -*- Mode:Python; indent-tabs-mode:nil; tab-width:4 -*-
#
# Copyright 2002 Ben Escoto <ben@emerose.org>
# Copyright 2007 Kenneth Loafman <kenneth@loafman.com>
#
# This file is part of duplicity.
#
# Duplicity is free software; you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by the
# Free Software Foundation; either version 2 of the License, or (at your
# option) any later version.
#
# Duplicity is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with duplicity; if not, write to the Free Software Foundation,
# Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA

# URLs for testing
# NOTE: if the ***_url is None, the test is skipped

ftp_url = None
ftp_password = None

gs_url = None
gs_access_key = None
gs_secret_key = None

rsync_abspath_url = None
rsync_relpath_url = None
rsync_module_url = None
rsync_password = None

ssh_url = None
ssh_password = None

s3_url = None
s3_access_key = None
s3_secret_key = None

cf_url = None
cf_username = None
cf_api_key = None

swift_url = None
swift_tenant = None
swift_username = None
swift_password = None

dpbx_url = None

imap_url = None
imap_password = None

mega_url = None
mega_password = None

webdav_url = None
webdav_password = None

webdavs_url = None
webdavs_password = None

gdocs_url = None
gdocs_password = None

copy_url = None
copy_password = None
