import sys, os
sys.path.insert(0, "../")
from duplicity import globals, log

# config for duplicity unit tests

# to test GPG and friends
# these must be without passwords
encrypt_key1 = "8C8E60A4"
encrypt_key2 = "B4FD6A06"

# password required on this one
sign_key = "522C2581"
sign_passphrase = "xxxxxxxxxx"

# URLs for testing
# Note: xxx_password is either None or a string.
# If its a string, then its put in the process
# environment.  If None, then its removed.

file_url = "file:///home/ken/testdup"
file_password = None

ftp_url = "ftp://ken@xyzzyx/testdup"
ftp_password = None

rsync_url = "rsync://ken@xyzzyx:/testdup"
rsync_password = None

ssh_url = "ssh://ken@xyzzyx/testdup"
ssh_password = None



def setup():
	""" setup for unit tests """
	log.setverbosity(0)
	globals.print_statistics = 0

	globals.num_retries = 1

	set_environ("FTP_PASSWORD", None)
	set_environ("PASSPHRASE", None)
	set_environ("AWS_ACCESS_KEY_ID", None)
	set_environ("AWS_SECRET_ACCESS_KEY", None)


def set_environ(varname, value):
	if value is not None:
		os.environ[varname] = value
	else:
		try:
			del os.environ[varname]
		except:
			pass
